DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require

# override migration folder
MIGRATIONS_PATH=db/migrations

# HTTP rate limiting
RATE_LIMIT_RPS=5
RATE_LIMIT_BURST=20

# DB connection pool tuning
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=30m

# In-memory cache settings
IN_MEMORY_CACHE_TTL = 5m
